nav.sidenav
    ul
        li
            a(href='/main') 
                img(src='/resources/images/home_icon.png' alt='home')
            br
        li
            a(href='/friends')
                img(src='/resources/images/friends_icon.png' alt='friends')
            br
        li
            a(href='/notifications')
                img(src='/resources/images/notification_icon.png' alt='notifications')
            br
        li
            a(href='/profile')
                img(src='/resources/images/profile_icon.png' alt='profile')
            br
        li
            a(href='/logout')
                img(src='/resources/images/logout_icon.png' alt='logout')